<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布攻略</title>
</head>
<body>
    <a href="/">主页</a>
    <hr>
    <form action="add" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            攻略标题:<input type="text" name="title">
        </div>
        <div>
            搜索内容:<input type="text" name="keywords">
        </div>
        <div>
            地理位置:<input type="text" name="location">
        </div>
        <div>
            <label for="info" style="float:left;">攻略内容:</label>
            <textarea id="info" name="info" cols="60" rows="20">{{ topic.info }}</textarea>
        </div>
        <div>
            上传图片:<input type="file" name="image">
        </div>
        <div>
            <button type="submit">发布</button>
        </div>
    </form>
</body>
</html>