<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部攻略</title>
</head>
<body>
    <div>
        {% if username is None %}
            <b><a href="users/login">登录</a></b>
        {% else %}
            <b><a href="topics/{{ username }}">我的攻略</a></b>
        {% endif %}
        <a href="/">主页</a>
    </div>
    <hr>
    <table>
        <tr>
            <th>
                <b></b>
            </th>
            <th style="width:500px;padding:10px 50px 0px 50px;">
                <b>攻略简介</b>
            </th>
            <th style="width:150px;padding:10px 30px 0px 30px;">
                <b>发布时间</b>
            </th>
            <th style="width:100px;padding:10px 30px 0px 30px;">
                <b>发布人</b>
            </th>
            <th style="width:80px;padding:10px 30px 0px 30px;">
                <b>浏览次数</b>
            </th>
        </tr>

        {% for topic in page %}
        <tr>
            <td colspan="5">
                <h3><a href="topics/detail/{{ topic.id }}">{{ topic.title }}</a></h3>
            </td>
        </tr>
        <tr>
            <td><img style="width:500px;height:200px;" src="/media/{{ topic.image }}" alt="{{ topic.image }}"></td>
            <td style="text-align:center;">{{ topic.shortinfo }}</td>
            <td style="text-align:center;">{{ topic.create_time }}</td>
            {% for user in users %}
            {% if user.id == topic.userid_id %}
            <td style="text-align:center;">{{ user.username }}</td>
            {% endif %}
            {% endfor %}
            <td style="text-align:center;">{{ topic.see_count }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if page.has_previous %}
    <b><a href="topics?page={{ page.previous_page_number }}">上一页</a></b>
    {% else %}
     <b>上一页</b>
    {% endif %}

    {% for p in paginator.page_range %}
    {% if p == page.number %}
    {{ p }}
    {% else %}
    <a href="topics?page={{ p }}">{{ p }}</a>
    {% endif %}
    {% endfor %}

    {% if page.has_next %}
     <b><a href="topics?page={{ page.next_page_number }}">下一页</a></b>
    {% else %}
     <b>下一页</b>
    {% endif %}

</body>
</html>